In [1]:
my_name = "Jyothirmai"

In [2]:
my_name

'Jyothirmai'

In [6]:
#declaring a string

21
fcs

In [3]:
my_name[0]

'J'

In [4]:
my_name[-4]

'r'

In [5]:
my_name[2:-4]

'othi'

In [6]:
my_name[2:]

'othirmai'

In [7]:
my_name[2:5]

'oth'

In [12]:
my_name[2::4]
#slicing in between

'or'

In [14]:
my_name[1:6:4]
#intial,final,increment
#prints intial and increment

'yi'

In [18]:
my_name[::-1]
#reverse of string

'iamrihtoyJ'

# concatination of string

In [26]:
first_name = "durga"
last_name  = "dhanasri jyothirmai"
full_name  = print(first_name +""+ last_name)

durgadhanasri jyothirmai

In [35]:
jyo = "hello everyone"

print(jyo.split()) #prints with comma

print(jyo.split(',')) #prints without comma

print(jyo.split('y')) #gives the address of the letter

['hello', 'everyone']
['hello everyone']
['hello ever', 'one']

# formatting strings

In [36]:
a = "Dhana"
b = "Jyothirmai"
c = "18"

print("{} {} is {} years old".format(a,b,c))

Dhana Jyothirmai is 18 years old

In [40]:
print("{2} {2} is {2} years old".format(a,b,c)) #takes the value of only the 3rd value
print("{1} {0} is {2} years old".format(a,b,c)) #takes the index values in it

18 18 is 18 years old
Jyothirmai Dhana is 18 years old

In [43]:
"{d} {e} is {f} years old".format(d = a,e = b,f = c)

'Dhana Jyothirmai is 18 years old'

# lists

In [44]:
L = ['jyo', 'dhana', 'sri','durga']

print(L)
print("prints list from 2 to 3")
print(L[1:3])
print("prints list after 2")
print(L[2:]) 
print("prints list before 2")
print(L[:2]) 
print("prints list from before last one")
print(L[-1]) 
print("prints list eliminating first and last")
print(L[1:-1])

['jyo', 'dhana', 'sri', 'durga']
prints list from 2 to 3
['dhana', 'sri']
prints list after 2
['sri', 'durga']
prints list before 2
['jyo', 'dhana']
prints list from before last one
durga
prints list eliminating first and last
['dhana', 'sri']

In [52]:



print(L.remove("hell"))
print("removes particular value through index")
print(L.pop(1)) 
print("counts the no of words in a list")
print(L.count('dev'))
print(len(L))

None
removes particular value through index
sita
counts the no of words in a list
1
5

In [58]:
L = ['ram','sita','dev','mira','lax']
L.append("hello")
L.insert(1,"hell")
L.pop(1)
L.remove("sita")
#L.pop("dev") results in type error
#L.remove(1) results in type error
print(L)

['ram', 'dev', 'mira', 'lax', 'hello']

# sortring in list

In [62]:
L.sort()
L

['ram', 'mira', 'lax', 'hello', 'dev']

In [63]:
L.reverse()
L

['dev', 'hello', 'lax', 'mira', 'ram']

In [73]:
me = {"name":"fcs","age":1}
me

{'name': 'fcs', 'age': 1}

In [74]:
me.values()

dict_values(['fcs', 1])

In [75]:
me.keys()

dict_keys(['name', 'age'])

# Tuples

In [95]:
my_tuple = (1,"jyo",4.5,"jyo")

In [96]:
my_tuple

(1, 'jyo', 4.5, 'jyo')

In [93]:
my_tuple.count("jyo")

2

In [97]:
my_tuple.index(4.5)

2

In [98]:
my_set = {1,2,3,4}

In [99]:
my_set

{1, 2, 3, 4}

In [101]:
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

# boolean

In [104]:
print(type(2<5))
print(type(6))

<class 'bool'>
<class 'int'>